*.pyc
build
dist
ctest
backup
__pycache__
插件配置文件
*组件
*插件
bdx_work_shop
fbtoken
gos
status
data
logs
*.spec
Python*
*.out
*.json
pluginEnc.py
DotCSLite.py
phoenixbuilder
go-cqhttp
*.yml
*.token
pytest.py
plugDec.py
*.Identifier