插件配置文件
*组件
*插件
*.pyc
*.spec
*.out
*.json
*.yml
*.token
*.Identifier
build
dist
ctest
backup
__pycache__
Python-3.10.2
logs
status
data
cache
bdx_work_shop
plugDec.pyc
DotCSLite.py
plugin__auth_server
pluginEnc.py
ToolDelta
fbtoken
phoenixbuilder
go-cqhttp