name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
    paths:
      - "version"

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get and Set Version
        run: |
         echo "VERSION=$(<version)" >> $GITHUB_ENV
         sed -i "/return (/c\        return ($(sed -e 's/\./, /g' version))" tooldelta/get_tool_delta_version.py

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/tooldelta:${{ env.VERSION }}